*{
    margin: 0px;
}
.sectionAFeedback{
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.sectionAFeedback::before{
    content: "";
    background: url(/static/img/feedback.jpg)  no-repeat center center/cover; 
    width: 100%;
    height: 200px;
    z-index: -1;
    opacity: .7;
    position: absolute;
 
}
/* feedback */
.feedback{
        width: 90%;
    height: 500px;
    background-color: #424242;
    margin: auto;
    margin-top: 40px;
    padding: 10px;

}
.feedback form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   padding: 20px;

}
.feedback form input,textarea{
    margin: 10px;
    width: 60%;
    color: white;
    background-color: #242424;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
}






.feedback form input{
    height: 25px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:40px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


/* thanks */
#thanks{
 
}