<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing website detection</title>
    <link rel="stylesheet" href="/static/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/aboutus.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    
<nav>
    <div class="left">
        <a href="/"><h2>Phishing website detection System</h2></a>
    </div>

    <div class="right">
        <ul>
            <li><a href="/" >Home </a></li>
            <li><a href="/Aboutus" class="active">About Us </a> </li>
            <li><a href="/Feedback">Feedback </a> </li>
            <li><a href="/Admin">Admin </a> </li>
            <li><a href="/Faq">FAQ's </a> </li>
        </ul>
    </div>
</nav>



<div class="sectionAabout">
        <h1 class="h-primary">
            About Us
        </h1>
</div>

<div class="central">
    <div class="dev">
        <img src="/static/img/author.jpg" alt="author">
        <h1>Gaurav Jain</h1>
    </div>

    
    <div class="sys">
        <h1>what does this System do?</h1>
        <h3>with our increasing dependency on internet, cyber crimes are also increasing. There are lot of hackers which are using, these phishing website to steal our data, our money and our privacy.
            it is close to impossible for a normal user to detect these type of websites, here our system comes into play.
            Anyone can easily check for any unknown website.</h3>
    </div>


</div>

<div class="container">
    <div class="item"><h1 class="h-secondry">Our Vision</h1>
        <p>
            To earn Global admiration as an IT Outsourcer by delivering eminent Software Services.
        </p>
    </div>
    <div class="item"><h1 class="h-secondry">Our Mission</h1>
    <p>To achieve our goal by providing distinguished software services in the global markets. Illuminating the surroundings by sharing our knowledge and adopting an Integral approach towards work. </p>
    </div>
    <div class="item"><h1 class="h-secondry">Our Values</h1>
    <p>We are committed to deliver best industry practices coupled with emerging practical and dependable technological solutions. Our team is specialized in every aspect of software development.</p>
    </div>
</div>
<footer>
    <div class="social">
       <a href="https://instagram.com" class="fab fa-instagram" target="_blank"></a>
        <a href="https://facebook.com" class="fab fa-facebook" target="_blank"></a>
       <a href="https://twitter.com" class="fab fa-twitter"  target="_blank"></a>
    </div>
</footer>
</body>
</html>