<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing website detection</title>
    <link rel="stylesheet" href="/static/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/Feedback.css">
    <link rel="stylesheet" href="../static/js/Feedback.js">
    <link rel="stylesheet" href="../static/css/faq.css"> 
    <link rel="stylesheet" href="../static/css/aboutus.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    
<nav>
    <div class="left">
        <a href="/"><h2>Phishing website detection System</h2></a>
    </div>

    <div class="right">
        <ul>
            <li><a href="/" >Home </a></li>
            <li><a href="/Aboutus">About Us </a> </li>
            <li><a href="/Feedback">Feedback </a> </li>
            <li><a href="/Admin">Admin </a> </li>
            <li><a href="/Faq" class="active">FAQ's </a> </li>
        </ul>
    </div>
    
</nav>



<div class="sectionFAQ">
        <h1 class="h-primary">
            FAQ'S
        </h1>
</div>

<div class="quescont">
<div class="ques">
    <h2>1. How do you detect the phishing website?</h2>
    <h3>Ans. We use many machine learning algorithms and analyze the website for your security.
    </h3>
</div>
<div class="ques">
     <h2>2. Do you charge any money for this?</h2>
    <h3>Ans. No, we do not ask for any single panny from the user.</h3> 
</div>
<div class="ques">
    <h2>3.Is it neccessary to create  an account to use this service?</h2>
    <h3>Ans. No, you don't need to create account. But, we will be pleased if you will provide your valueable feedback to us.</h3>
</div>
<div class="ques">
    <h2>4. Is there any chance of wrong judgement of this detection system? </h2>
    <h3>Ans. Yes, we can se 1 in 1000. Because, no one is perfect in this world. </h3> 
</div>
<div class="ques">
    <h2>5. Is it safe  to use this system.</h2>
    <h3>Ans. Yes, it is completely secure and we cares for your privacy and security.  </h3> 
</div>
<div class="ques">

    <h2>6. Do you share our gmail id with anyone?</h2>
    <h3>Ans. Absolutely No. we do not share any info of our clients.</h3> 

</div>


</div>


<footer>
    <div class="social">
       <a href="https://instagram.com" class="fab fa-instagram" target="_blank"></a>
        <a href="https://facebook.com" class="fab fa-facebook" target="_blank"></a>
       <a href="https://twitter.com" class="fab fa-twitter"  target="_blank"></a>
    </div>
</footer>
</body>
</html>